* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #121212;
    color: #fd8989;
}

h1,
@@ -47,7 +47,7 @@ h1 {

p {
    margin-bottom: 10px;
    color: #333;
    color: #8f8f8f;
}

.calcultor{
@@ -104,12 +104,12 @@ button:active {
}

.operator {
    background-color: #ff9f00;
    background-color: #fd8989;
    color: white;
}

.operator:hover {
    background-color: #ff7c00;
    background-color: #ea5e5e;
}

.operation {
@@ -127,12 +127,12 @@ button:active {

.equal {
    grid-column: span 2;
    background-color: #ff9f00;
    background-color: #fd8989;
    color: white;
}

.equal:hover {
    background-color: #ff7c00;
    background-color: #ea5e5e;
}